<div>
  <md-toolbar color="primary">
      <button style="margin-right:20px;" md-icon-button >
        <md-icon>menu</md-icon>
      </button>
          <span class="section-title">Smart Ticket Visualizer </span>
          <span class="section-chapter"> <span class="title-separator"> –</span> Ticket Aging</span>
          <span class="spacer"></span>
  </md-toolbar>
  <md-tab-group md-stretch-tabs>
      <md-tab label="Pivot"></md-tab>
      <md-tab label="Chart"></md-tab>
  </md-tab-group>
  <div style="padding:30px;">
    <md-card>
      <app-pivot></app-pivot>
    </md-card>
  </div>
</div>
